@charset "utf-8";
@media only screen and (min-width:1400px) and (max-width:1599px){
/* CSS Document */

.center {
	width:98%;
	padding:0px 1%;
	position:relative;
	overflow:hidden;
}

	.flexHomeCallout {
	
	width: 44% !important;
	right:0 !important;
	
	}
.flex-home > div {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
}
	
	
	
	.flex-menu-mobi {
	display: none;
}
.flex-menu{
	display: flex;
}
	
	
	
	
	/* close breakpoint */
}