@charset "utf-8";
@media only screen and (min-width:800px) and (max-width:1140px){
/* CSS Document */
.headerInner{
		flex-flow:row wrap !important;
	}

	.menu-toggle{
		display:flex;
	}

	.flex-menu-item{
		padding:10px 15px !important;
	}

	.header{
		padding-top: 15px;
		padding-left:1rem;
		padding-right:1rem;
	}
	.flex-menu{
		display: none;
		flex-flow: column;
		width: 100%;
		align-items: center;
		justify-content: center;	
		overflow:hidden;
	}
	.logo img {
		width: 225px;
	}
	.flex-menu ul{
		flex-flow: column nowrap;
	}
/*
.flex-nav > div {
  	flex-direction: column;
	margin: 10px;
	width: 100%;
}
	
.flex-menu > div {
  	flex-direction: column;
	margin: 10px;
	width: 100%;
}
*/
	
.flexHomeCallout {
	top: 574px !important;
	width: 76% !important;
	left: 10% !important;
	right: 10%!important;
	padding: 30px 2% 30px 2%;
}
.centerCards .appDashboardContainerTwo {
    flex-wrap: wrap;
	justify-content: center;
}
.flex-how > div {
    padding: 20px 2% !important;
    width: 50% !important;
}
	
.flex-benefits > div {
    padding: 20px 2% !important;
    width: 33% !important;
}
.flex-callout > div {
    width: 37%;
}
.bureauLogos > div {
    width: 13% !important;
}
	
.flex-how h3 {
    font-size: 5.5vw;
}
	
	
	
.flex-menu-mobi {

	display: flex;
}
.flex-menu-desktop {
	display: none !important;
}
/*	
.flex-menu > div {
    flex-direction: column;
    margin: -60px 10px 10px 10px;
    width: 4%;
}
*/
	
.flex-menu-mobi a:hover {
	background-color: transparent;
}
	
.classToggleNavShow {
	display: flex ;
}
.classToggleNavHide {
	display: none;
}
	
.flex-menu-mobi {
	display: flex !important;
}
.flex-menu-desktop {
display: none !important; 
		/*	display: block!important;
		margin: 0 !important;
		float: left;*/
}
	

.center {
	width:98%;
	padding:0px 1%;
	position:relative;
	overflow:hidden;
}
	
.alignLeft {
	text-align: center;
}
.alignRight {
	text-align: center;
}
.TwoCol li {
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	
}
.ThreeCol li {
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	
}
.FourCol li {
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 50%;
	
}
.FiveCol li {
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 50%;
	
}
.SixCol li {
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 33%;
	
}

.appLeftBG {
	height: auto;
}
.appRightBG {
	height: auto;
}
	
.flex-menu-mobi img {
	display: block;
}
	
.flex-benefits h3 {
    margin: 0;
    padding: 0;
    font-size: 6.5vw;
}
	
.appContainer {
    flex-direction: column;
    width: 96%;
	margin: 100px auto;
    height: auto !important;
}
.appContainerReverse {
    flex-direction: column;
}
.appLeftBG {
	width: 100%;
	min-height: auto;
	margin-bottom:10px;
	
}
	
.inputHalfSize {
	width: 100%;
}
	
.appRightBG {
	width: 100%;
	min-height: auto;
	margin-bottom:10px;
}
	
.appDashboardContainer > div {
	flex-wrap: wrap;
	justify-content: center;
}
.appDashboardContainerOne {
    width: 48% !important;
    box-sizing: border-box !important;
    justify-content: center;
    margin: 1%;
    padding: 1%;
}
.flex-how h4 {
    font-size: 25px;
    margin: 0;
}
.flex-benefits h4 {
	font-size: 25px;
    margin: 0;
}
.innerPadding {
    box-sizing: border-box;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.halfSize {
	width: 100% !important;
	margin: 0 !important;
}
.halfSize > div {
	width: 99% !important;
	margin: 1% !important;
}	
.appParentStyles {
    box-shadow: 0px 1px 5px #0001;
}
	
.appParentStyles > div {
	margin-left: 0px !important;
}
	
.appDashboardContainerTwoItem {
    width: 27.5% !important;
    justify-content: space-between;
}
	
.appDashboardContainerOneMobi {
    width: 100% !important;
}
.appDashboardContainerTwo {
	flex-wrap: wrap;
}
	
.helpForm {
    padding: 1;
	padding: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    box-sizing: border-box;
}	
.appDashboardContainerOneMobi {
    width: 100% !important;
}
.appDashboardContainerTwo {
	flex-wrap: wrap;
}
.appDashboardContainerTwoItem {
	width: 27.5% !important;
	justify-content: space-between;
}
.ddcSection {
    width: 98% !important;
    box-sizing: border-box !important;
    justify-content: center;
    margin: 1%;
    padding: 1%;
}
.dccSectionItem {
	width: 100% !important;
	display: flex;
}
	
/* dashboard styles */
.appLeftBG {
	border-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}
	
.appRightBG {
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.custContainerSize .appRightBG {
	height: auto;
}
.custContainerSize .appLeftBG {
	height: auto;
}
.custContainerSize .appContainer {
	margin: 150px auto 100px auto;
}
form {
	width: 100%;
}
.navbar-list {
	text-align: center;
}
input[type="submit" i] {
	width: 60%;
}
	
.animatePeople {
    background-size: auto 81%;
	background-position: bottom;
}
	
.call-out-section {
    display: flex;
	flex-direction: column-reverse;
}
						
.call-out-item {
	width: 95%;
	justify-content: flex-start;
	height: auto;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left:5px;
}
.call-out-item.primary{
	order:1;
}
.flex-article > div {
	flex-direction: column;
}
					
.article-comment {
    background-color: #00A4EA;
    box-shadow: 2px 2px 3px #0003;
    color: #fff;
    padding: 10px 2%;
    margin: 20px 0;
    border-radius: 5px;
    font-style: italic;
    width: 96%;
}
.article-callout h2 {
	font-size: 18px;
	padding: 15px 0;
}
	
.flex-article > div {
	width: 50%;
}
	.search-container h3 {
    font-size: 23px !important;
}
	
	.nutun-footer-top {
    flex-direction: column !important;
}
	.nutun-footer-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
	.sidenav {
		top: 40px;
	}
	.nutun-footer-top-item {
    max-width: none;
    padding: 10px;
    box-sizing: border-box;
}
.nutun-footer-logo {
	display: flex;
	align-items: center;
}
	.mobi-center {
		text-align: center !important;
	}
	.nutun-subscribe-button input[type="submit"] {
    padding: 10px 2px !important;
}
	.nutun-credit-regulator {
		padding: 10px;
	}
	
	.nutun-footer-bottom {
		padding: 10px !important;
		box-sizing: border-box;
	}
	.social-row {
    flex-direction: row !important;
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
}
/*
.article-ul {
	margin-left: -25px !important;
		
}
*/	
	
	/* close breakpoint */
}
