@charset "utf-8";
@media only screen and (min-width:1400px) and (max-width:5000px){
/* CSS Document */

.center {
	width:98%;
	padding:0px 1%;
	position:relative;
	overflow:hidden;
}
	
	
	.flexHomeCallout {
	
	width: 34% !important;
	right: 10% !important;
	
	}
	
	
	.flex-menu-mobi {
	display: none;
}
.flex-menu{
	display: flex;
}
	
	
	
	
	/* close breakpoint */
}